/* Fonts 

font-family: 'Poppins', sans-serif;
font-family: 'Protest Revolution', sans-serif;
font-family: 'Protest Strike', sans-serif;
*/

/* header */
body {
    margin: 0;
    margin-top: 0;
}

.navigation {
    background-color: hsla(238, 80%, 50%, 1);
    margin-bottom: 0;
}

.navi-list {
    display: flex;
    list-style: none;
    padding: 1rem;
    margin: 0 2rem;
}

.navi-list li {
    margin-left: 1rem;
    font-size: 2rem;
} 

.navi-list li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: hsla(277, 80%, 85%, 1);
}

.navi-list li a:hover {
    color: whitesmoke;
    font-weight: 600;
}

/* main section */

.main {
    background-color: hsla(277, 80%, 50%, 1);
}

.intro {
    height: 30rem;
    text-align: center;
}

.intro h1 {
    font-family: 'Protest Revolution', sans-serif;
    font-size: 5rem;
    padding: 12rem;
    margin-top: 0;
    color: antiquewhite;
}

.summary {
    font-size: 2rem;
    color: aliceblue;
}

.summary h4 {
    font-family: 'Protest Strike', sans-serif;
    letter-spacing: 3px;
    padding: 0 4rem;
    padding-left: 6.6rem;
}

.summary p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 4rem;
    
}

.images {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.images img {
    width: 30%;
}

.fraza {
    background-color: hsla(238, 80%, 55%, 1);
    height: 20rem;
    text-align: start;
    font-size: 1.5rem;
    padding: 0 6rem;
    color: aliceblue;
}

.container {
    margin-top: 1rem;
    padding-top: 4rem;
}

.container h4 {
    font-family: 'Poppins', sans-serif;
}

.container p {
    font-family: 'Protest Strike', sans-serif;
    letter-spacing: 2px;
}

.second {
    margin-top: 2rem;
}